*

!/.gitignore
!/AA02RJ57 1 Database Schema Definition Script.sql
!/AA02RJ57 2 Database Automation & Integrity.sql
!/AA02RJ57 3 Initial Data Insertion Script.sql
!/AA02RJ57 4 Optimized Data Retrieval & Querying.sql
!/AA02RJ57 5 Database Normalization & Constraints Enforcement.sql
!/AA02RJ57 6 Comprehensive CRUD Operations.sql
!/AA02RJ57 7 Database Schema Modification & Optimization.sql
!/ERD FurEver Home - Evolution 1.pdf
!/ERD FurEver Home - Evolution 1.png
!/ERD FurEver Home.pdf
!/ERD FurEver Home.png
!/Schema Design of Database.docx
!/SQL Script Documentation.docx
!/SQL Script Documentation.md
!/Template of Project Report.docx
